body{
    background-image: url("./assets/pattaya.jpg");
    /* http://www.52dazhew.com/w/585549519.html */
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul{
    display: flex;
}

nav ul li{
    padding-left: 10px;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color:rgb(177,151,199);
    font-family: 'Barlow', sans-serif;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    color: rgb(177,151,199);
    border-bottom: 1px dotted rgb(177,151,199); /* If I want dots under the hoverable text */
    font-family: 'Barlow', sans-serif; 
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(228,185,78,0.61);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 138%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(228, 185, 78, 0.61) transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.tooltip {cursor: none;}

a:hover{
    color: rgb(228,185,78);
}

#pattayaSign {
   
    background-color: transparent;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 0 auto;
}

#pattayaHolder1 {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

}
  
text {
    fill: rgb(228,185,78);
  }

